<div class="comment">
  <div class="post-heading">
    <div class="post-title">
      {{ author.name }} says:
    </div>

    <div class="post-date">
    {% if user %}
      {% if user.key().id() == c.author_id %}
        <a href="/blog/editcomment?comment_id={{c.key().id()}}">Edit</a>
        <a href="/blog/deletecomment?comment_id={{c.key().id()}}">Delete</a>
      {% endif %}
    {% endif %}
    {{c.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{c._render_text | safe}}
  </div>
</div>
